name: PlentyChess Build & Bench
on:
  push:
  workflow_dispatch:
  pull_request:

jobs:
  engine:
    name: PlentyChess Build & Bench
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-14]
        architecture: [arm64]
    
    steps:

    - name: Clone
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Compile
      run: make -j profile-build EXE=PlentyChess

    - name: Bench
      run: |
        git fetch origin ${{ github.event.pull_request.head.ref }}
        git checkout FETCH_HEAD
        bench=$(git show --summary | grep -oE 'Bench: [0-9]+' | awk '{print $2}')
        ./PlentyChess bench 2> output
        real=$(grep 'Nodes searched' output | awk '{print $4}')
        if [[ "$bench" != "$real" ]]; then echo "got $real, expected $bench (real: '$(git show --summary)')" && exit 1; fi
    
    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: PlentyChess-${{github.sha}}-neon-${{matrix.os}}
        path: ./PlentyChess